@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* Basic formatting */
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Classes */
.gradient-bg {
  background: linear-gradient(
    133.88deg,
    #835ec2 2.96%,
    #d65db1 16.74%,
    #fe6f91 34.11%,
    #ff9570 48.28%,
    #fec75f 87.09%,
    #f9f771 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  background: #555;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbd109;
}

.step4 {
  border: 1px solid #ccc;
  width: 78%;
  padding: 6px;
  margin: 0 0 10px;
  display: block;
  background: rgba(49, 49, 49, 0.8);
  border: 1px solid #828282;
  border-radius: 6px;
}
.dd label input {
  margin-right: 1rem;
}

.step4:hover {
  background: transparent;
  cursor: pointer;
  border: 1px solid white;
}

.step4 > input[type="checkbox"]:checked + label {
  background-color: transparent;
  border: 1px solid white;
}

.custCheckbox {
  background: rgba(49, 49, 49, 0.8);
  border: 1px solid #828282;
  border-radius: 8px;
}
.custCheckbox_letter {
  background: #000000;
  border: 1px solid #767676;
  border-radius: 4px;
}
